html, body {
  height: 100%;
}

body  {
    background-color: grey;
    margin-top: 15vh;

}

.background {
  background-image: url("bkg.jpg");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big-title{
	letter-spacing: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	font-size: 110px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.7);
}

.small-title{
	padding-bottom: 10px;
	margin: 0;
	font-size: 30px;
	color: #FFFFFF;
	background-color: #1B2964;
}

.btn{
	font-size: 60px;
	margin: 20px;
	background-color: rgba(33, 106, 224, 0.5);
	color:#000;
}

.btn:focus {
  outline: none;
}

.btn_container{
	padding-top: 30px;
}

.selected{
	background-color: rgba(11, 53, 119, 0.99);
}

.backdrop{
	background-color: rgba(200, 200, 200, 0.3);
	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 20px;
}
